/* reset*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*main ones*/
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a{
    color:#333;
    text-decoration: none;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{ 
    margin: 10px 0;
    /* first one is top and bottom then left n right*/
} 
/* above codes are actualylly core codes. */

.container{
    max-width: 1100px;
    overflow: auto;
    margin: auto;
    padding: 0 20px;
}
/*navbar*/
#navbar{
    color: #fff;
    background-color: #333;
    overflow: auto;
}
#navbar a{
    color:#fff;
}
#navbar h1{
    float:left;
    padding-left: 10px;
    padding-top:20px;
}
#navbar ul{
    float:right;
    list-style: none;
}
#navbar ul li{
    float:left;
}
#navbar ul li a{
    display: block;
    padding:20px;
    text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current{
    background: #444;
    color:#f7c08a
}


/*showcase*/

#showcase{
    background: url('pexels-konevi-2830460.jpg')
    no-repeat center center/cover;
    height:550px;
}
#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}
#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

.text-primary{
    color: #f7c08a;
}
.lead{
    font-size: 20px;
}
#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}
.btn{
    display:inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.btn:hover{
    background: #f7c08a;
    color:#333
}
.btn-light{
    background: white;
    color:#333
}

/*home info*/

#home-info{
    height: 400px;
}
#home-info .info-img{
    float:left;
    width:50%;
    background: url('pexels-serra-nur-kaynak-2156630399-35061351.jpg') 
    no-repeat center center;
    background-size: cover;
    height: 100%;
}
#home-info .info-content{
    float:right;
    width:50%;
    height: 100%;
    text-align: center;
padding: 50px 30px;
overflow: hidden;
}
.bg-dark{
    background: #333;
    color:#fff;
}
.bg-light{
    background: #f4f4f4;
    color:#333;

}
.bg-primary{
    color: #333;
    background:#f7c08a;
}

.clr{
    clear:both;
}
#home-info .info-content p{
    padding-bottom: 30px;
}

/*features*/
.box{
    float:left;
    width:33.3%;
    padding:50px;
    text-align: center;
}
.box i{
    margin-bottom: 10px;
}

#main-footer{
    text-align: center;
    background: #444;
    color: #f4f4f4;
    padding: 20px; 
}